<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="text-center">EAT THE BURGER!!!</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center"> READY TO DEVOUR?</h2>
            {{#each burgers}} {{#unless this.devoured}} 
{{> burger}}
            
            {{burgers/delete-burger}} {{/unless}} {{/each}}
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">DEVOURED!</h2>
            {{#each burgers}} {{#if this.devoured}} 
{{> burger}}
            
            {{/if}} {{/each}}

        </div>
    </div>

    <div class="row">
        <h2>ADD A BURGER</h2>
        <form class="create-update-form" action="burgers/create" method="POST">
            <div class="form-group">
                <label for "db">BURGER NAME:</label>
                <input type="text" id="db" name="burger_name">
                <input type="hidden" name="devoured" value="0">

            </div>
            <button type="submit">ADD THE BURGER!</button>
        </form>
    </div>
</div>